
#buttons {
    display:flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border-radius: 6px;
	width: 40px;
    height: 40px;
	margin: 5px 2px;
}

#buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#screen {
    width: 160px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    background-color: white;
    border-radius: 6px;
}

#screenLast {
    min-height: 15px;
    width: 152px;
    border: 1px solid blue;
    margin: 4px 4px 0px 4px;
    font-size: medium;
    color: rgb(72, 72, 72);
}

#screenCurrent {
    width: 152px;
    margin: 4px;
    border: 1px solid black;
    font-size: large;
    font-weight: 700;
    min-height: 20px;
}

#calculator {
    background-color: rgb(201, 162, 117);
    width: 180px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
